@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
html {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Readex Pro', sans-serif;
}

.primary-button {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    background: linear-gradient(45deg, #fe3072, #ff5940);
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
}

.primary-button:hover {
    background: linear-gradient(260deg, #fe3072, #ff5940);
}
body {
    text-align: center;
}
/* ---- Navbar------- */
nav {
    width:100%;
    display: flex;
    justify-content: space-between;
}
nav .logo-container {
    width: 140px;
    margin: 15px;
    
}

nav .logo-container .logo {
    width: 100%;

}

/* ---- Home------- */
.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
}