@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
html, body {
    margin: 0;
    padding: 0;
}


h2 {
    font-style: italic;
}

* {
    font-family: 'Readex Pro', sans-serif;
}

.primary-button {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    background: linear-gradient(45deg, rgb(254,48,114), rgb(255,89,64));
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
}

.primary-button:hover {
    background: linear-gradient(260deg, rgb(254,48,114), rgb(255,89,64));
}


.secondary-button {
    color: rgb(121,119,119);
    background-color: rgb(255,255,255);
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px, 30px;
    border-radius: 30px;
    border: solid 2px rgb(121,119,119);
    margin: 6px;
    transition:.3s ease all;



}

.secondary-button:hover {
    color: rgb(48,48,48);
    border: solid 2px rgb(48,48,48);

}


body {
    text-align: center;
}
/* ---- Navbar------- */
nav {
    width:100%;
    display: flex;
    justify-content: space-between;
}

nav .nav-button {
    color: rgb(254,48,114);
    cursor: pointer;
    background-color: rgb(255,255,255);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

nav .nav-button:disabled {
     background-color: rgb(189,180,180);
    color:rgb(152, 24, 67);
    
}



nav .logo-container {
    width: 140px;
    margin: 15px;
    
}

nav .logo-container .logo {
    width: 100%;

}

/* ---- Home------- */
.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(
        to bottom,
        rgba(0,0,0, 0.65)0%,
        rgba(0,0,0,0)100%
    );
}


/* -----------Auth Modal------------ */
.auth-modal {
    position: relative;
    top: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    height: 600px;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    padding: 40px;   
}

.auth-modal  .close-icon {
    float: right;
}

.auth-modal form {
    display: flex;
    flex-direction: column;
}

.auth-modal input[type=password],[type=email] {
    padding: 8px;
    margin: 8px;
    font-size: 17px;
}